.main {
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;
  
    color: black;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    background-color: grey;
  }
  .message {
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
  }

  @media (max-width: 768px){
    .main {
      height: 100%;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
    
      color: black;
    
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid white;
      background-color: grey;
    }
    .message {
      text-align: center;
      font-size: 10px;
      font-family: 'Press Start 2P', cursive;
    }
  }