.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 1px;
  align-items: center;
  background-color: white;
  object-fit: contain;
  justify-content: center;
}

.label {
  font-size: 10px;
  font-weight: bold;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 15px;
  color: black;
  object-fit: contain;
  justify-content: center;
}

.max {
  height: 7.5px;
  border-radius: 2.5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
  object-fit: contain;
  justify-content: center;
}

.value {
  height: 100%;
  background-color: green;
  transition: 0.35s;
}

/* Styles for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
  .main {
    display: flex;
    border-radius: 5px;
    gap: 5px;
    padding: 1px;
    align-items: center;
    background-color: white;
    object-fit: contain;
    justify-content: center;
  }
  
  .label {
    font-size: 10px;
    font-weight: bold;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15px;
    color: black;
    object-fit: contain;
    justify-content: center;
  }
  
  .max {
    height: 7.5px;
    border-radius: 2.5px;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    background-color: lightgray;
    object-fit: contain;
    justify-content: center;
  }
  
  .value {
    height: 100%;
    background-color: green;
    transition: 0.35s;
  }

}


