.main {
    width: 500px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    font-family: 'Press Start 2P', cursive;
    color: white;
  
    padding: 25px;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid white;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
  }
  
  .name,
  .level {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
  }

  @media (max-width: 768px){
    .main {
      width: 100vw;
      height: 10vh;
      border-radius: 10px;
      box-shadow: 0px 0px 3px black;
      font-family: 'Press Start 2P', cursive;
      color: white;
    
      padding: 25px;
      box-sizing: border-box;
    
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 5px solid white;
    }
    
    .info {
      display: flex;
      justify-content: space-between;
    }
    
    .name,
    .level {
      font-family: 'Press Start 2P', cursive;
      font-size: 10px;
    }
  }