@media (min-width: 768px){
    .article {
        max-width: 100vw;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
      }
      
      h1 {
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 60px;
      }
      
      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;
      }
      .center-container {
        display: grid;
        place-items: center; /* Center both horizontally and vertically */
        background-color: white;
      }
      .pic1 {
        display: block; /* Make sure the image is treated as a block element */
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
        width: 50%; /* Let the width adjust according to the original aspect ratio */
        height: auto; /* Let the height adjust according to the original aspect ratio */
        margin-bottom: 20px;
      }

      img{
        display: block; /* Make sure the image is treated as a block element */
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
        width: 50%; /* Let the width adjust according to the original aspect ratio */
        height: auto; /* Let the height adjust according to the original aspect ratio */
        margin-bottom: 30px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
      }
    }
    
      @media (max-width: 768px){
        .article {
          max-width: 100vw;
          margin: 0 auto;
          padding: 20px;
          background-color: white;
        }
        
        h1 {
          font-size: 28px;
          margin-bottom: 15px;
        }
        
        p {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 20px;
        }
        .center-container {
          display: grid;
          place-items: center; /* Center both horizontally and vertically */
          background-color: white;
        }
        .pic1 {
          display: block; /* Make sure the image is treated as a block element */
          margin: 0 auto; /* Center the image horizontally */
          max-width: 100%; /* Ensure the image doesn't exceed its original size */
          width: 100%; /* Let the width adjust according to the original aspect ratio */
          height: auto; /* Let the height adjust according to the original aspect ratio */
          margin-bottom: 20px;
        }
        img{
          display: block; /* Make sure the image is treated as a block element */
          margin: 0 auto; /* Center the image horizontally */
          max-width: 100%; /* Ensure the image doesn't exceed its original size */
          width: 50%; /* Let the width adjust according to the original aspect ratio */
          height: auto; /* Let the height adjust according to the original aspect ratio */
          margin-bottom: 20px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        }
      }
  