.main {
    background: url('BG1.jpeg');
    width: 100vw;
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 768px){
    .main {
        background: url('BG1.jpeg');
        width: 100vw;
        height:70vh;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
}